body{
    background-color: #121212;
}
#grid{
    display: flex;
    width: 500px;
    height: 500px;
    background-color: purple;
}
.column{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}
.row{
    border: solid;
    border-color: white;
    height: auto;
    width: 100%;
    border-width: 1px;
}